= form_for @manipuulyator do |f|
  =error_messages_for @manipuulyator
  .form-group
    =f.label :name
    =f.text_field :name, class: 'form-control'

  .form-group
    = f.label :description
    = f.text_area :description
  
  .form-group
    = f.label :foto
    = f.file_field :foto

    .form-actions
    = f.submit nil, class: 'btn btn-primary'